@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: #202020;
  color: white;
}

@layer utilities {
  .animate-fade-down{
    animation: fadeDown 1s;
  }

  .animate-fade-out {
    animation: fadeOut 1s forwards;
  }

  @keyframes fadeDown {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

